@page "/"

@*@attribute [Authorize]*@

<PageTitle>Маркировка</PageTitle>

<ul>
    <li>
        <b>Заказы - заказ и получение новых кодов маркировки.</b><br/>
            Стандартная процедура состоит из 5-ти шагов
        <ol>
            <li>
                Ввести в колонку "К-во дозаказать" нужное количество кодов маркировки и нажать кнопку "Заказать".<br/>
                Заказанное количество получит статус 0. 
            </li>
            <li>
                Нажать кнопку "Шаг 1". Для каждой пары "Номер заказа - артикул" сформируется заказ в Честный знак
                и через API будет туда отправлен.<br />
                Заказанное количество получит статус 1.
            </li>
            <li>
                Нажать кнопку "Шаг 2". После нажатия на кнопку "Шаг 1" лучше подождать 2-3 минуты, <br />
                т.к. заказы в Честном знаке обрабатываются не мгновенно. Через API будет сделан запрос о состоянии заказов<br />
                со статусом 0. Если все заказы созданные на шаге 1 успешно обработаны, то статус заказа станет равным 2 и <br />
                можно перейти к шагу 3. Если заказ не успел обработаться, то будет предложено повторить запрос (лучше через несколько минут).<br />
                Если в заказе ошибка, то она будет выведена, а статус заказа будет сброшен в 0.<br />
                Можно потом подробнее рассмотреть ошибку в журнале событий, устранить её и повторить шаг 1.
            </li>
            <li>
                Нажать кнопку "Шаг 3". Из заказов со статусом 2, будут через API выбраны коды маркировки и сохранены в базе данных.<br />
                Заказ получит статус 3.
            </li>
            <li>
                Нажать кнопку "Шаг 4". Последняя порция кодов маркировки из базы данных, полученных в интервале 5 минут, будет<br />
                преобразована в pdf файлы, упакована в zip архив и скачана браузером.
            </li>
        </ol>
    </li>
    <li>
        <b>Печать - Формирование pdf файлов для ранее полученных кодов маркировки.</b><br />
        Формирует zip архив с pdf файлами произвольно выбранных кодов маркировки.<br />
        Если фильтр. Вводить номера заказов через запятую, можно только последние цифры.
    </li>
    <li>
        <b>Вывод из оборота - Вывод из оборота.</b><br />
        <ol>
            <li>
                Ввести номера счета-фактуры и нажать "Обновить"<br />
                На экран должна вывестись строка с данными по сч.фактуре и количеству подлежащее выводу и оборота.<br />
                Удостоверьтесь в правильности информации
            </li>
            <li>
                Нажать "Шаг 1". Будет сформирован и отправлен в API Честного знака заказ на вывод из оборота товаров.<br />
                Статус изменится на 0.
            </li>
            <li>
                Нажать (лучше через 1 минуту) "Шаг 2". Будет проверено состояние отправленного заказа. Если все хорошо,<br />
                то статус изменится на 1. В случае ошибки статус 2.
            </li>
            <li>
                Если ошибка (статус 2), то сбросить ее нажав "Сброс ошибки". Статус ВСЕХ ошибочных заказов изменится на 0.<br />
                После этого устраните причины возникновения ошибки и повторите шаг 1.
            </li>
        </ol>
    </li>
    <li>
        <b>Журнал - Вывод журнала за дату.</b><br/>
    </li>
</ul>
